*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  color-scheme: light dark;
  min-height: 100%;
  display: grid;
  align-content: start;
  font-family: monospace;
  line-height: 1.5;
  font-size: calc((18 / 16) * 100%);
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: grid;
  min-height: 100%;
  overscroll-behavior: none;
}

h2 {
  margin: 1rem 0 0;
}

h2:first-child {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  margin: -1px;
  border: 0;
  padding: 0;
}

summary {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.333em;
}

h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  margin: -1px;
  border: 0;
  padding: 0;
}

details {
  & p {
    margin-top: 0;
  }
}

form {
  display: grid;
  gap: 1rem;
}

header {
  padding: 0 1em;
}

.main {
  padding: 0 1px;
  display: grid;
  gap: 1rem;
}

fieldset {
  display: grid;
  grid-template-columns: auto minmax(0px, 1fr);
  gap: 1rem;
  padding: 0.5rem 1rem 1rem;
  margin: 0;
}

fieldset label:not([hidden]) {
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  text-align: end;
}

fieldset label p {
  display: grid;
  font-weight: bold;
  margin: 0;
  text-align: start;

  & small {
    font-weight: normal;
  }
}

label div {
  display: flex;
  gap: 1rem;
  width: 100%;
}

output {
  width: 7.5ch;
  text-align: start;
  overflow: hidden;
}

input[type="range"] {
  width: 100%;
}

textarea {
  height: 25em;
  height: 25lh;
  width: 100%;
  font-family: monospace;
}
