@font-face {
  font-family: "APCA-Approved-Reference-Font";
  src: local("Helvetica Neue"), local("Helvetica"), local("Arial");
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  min-height: 100%;
  display: grid;
  font-family: monospace;
  line-height: 1.5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc((18 / 14) * 1rem);
  margin: 20px;
  display: grid;
  overscroll-behavior: none;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:where(input[type="range"]) {
  width: 100%;
}

h2 {
  margin: 1rem 0 0;
}

h3 {
  margin: 1rem 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  margin: -1px;
  border: 0;
  padding: 0;
}

textarea {
  height: 25lh;
  width: 100%;
}

fieldset {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.5rem 1rem 1rem;
  margin: 0;
}

fieldset label {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

fieldset label p {
  display: grid;
  font-weight: bold;
  margin: 0;

  & small {
    font-weight: normal;
  }
}

label div {
  display: flex;
  gap: 1rem;
}
