.cards {
  display: grid;
  gap: 1rem;

  @media (min-width: 800px) {
    display: flex;
  }
}

.card {
  flex: 1;
  gap: 0;
  font-family: APCA-Approved-Font-Family, sans-serif;
  background-color: var(--swatch--dynamic--100);
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--swatch--dynamic--300);
  display: grid;
  grid-row: auto / span 3;
  grid-template-rows: subgrid;
  transition-duration: 60ms;
  transition-timing-function: ease-in-out;
  transition-property: width;
  color: black;

  @media (max-width: 799px) {
    &:not(:first-of-type) {
      display: none;
    }
  }

  & h3 {
    color: var(--swatch--dynamic--800);
    margin: 0;
    font-size: 2rem;
  }

  & .card-content {
    color: black;
    font: inherit;
  }

  & button {
    background-color: var(--swatch--dynamic--800);
    border: 1px solid var(--swatch--dynamic--900);
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;
    font: inherit;
    font-size: 1rem;
    font-weight: 600;

    color: var(--text-color, white);

    &:hover {
      background-color: var(--swatch--dynamic--900);
    }
  }
}
