.swatches {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 800px) {
    flex-direction: row;
  }

  & [class~="swatch"] {
    min-height: 48px;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    place-items: center;
    place-content: center;
    gap: 1ch;

    &:before {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      content: "";
      width: 100%;
      flex: 0 1 100%;
      display: flex;
      aspect-ratio: 3 / 1;
    }

    @media (min-width: 800px) {
      &:before {
        aspect-ratio: 1 / 1;
      }
    }

    & small {
      grid-column: 1 / 2;
      content: var(--name);
      text-transform: uppercase;
      font-size: 0.95rem;
      background: Canvas;
      color: CanvasText;
      padding: 4px;

      &[class="warning"] {
        background: yellow;
        color: black;
      }
    }

    & span {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      text-align: center;
      margin: 0;
      font-size: 0.875em;
    }
  }

  & [class~="swatch--white"]:before {
    background-color: var(--swatch--dynamic--white);
  }

  & [class~="swatch--100"]:before {
    background-color: var(--swatch--dynamic--100);
  }

  & [class~="swatch--200"]:before {
    background-color: var(--swatch--dynamic--200);
  }

  & [class~="swatch--300"]:before {
    background-color: var(--swatch--dynamic--300);
  }

  & [class~="swatch--400"]:before {
    background-color: var(--swatch--dynamic--400);
  }

  & [class~="swatch--500"]:before {
    background-color: var(--swatch--dynamic--500);
  }

  & [class~="swatch--600"]:before {
    background-color: var(--swatch--dynamic--600);
  }

  & [class~="swatch--700"]:before {
    background-color: var(--swatch--dynamic--700);
  }

  & [class~="swatch--800"]:before {
    background-color: var(--swatch--dynamic--800);
  }

  & [class~="swatch--900"]:before {
    background-color: var(--swatch--dynamic--900);
  }

  & [class~="swatch--black"]:before {
    background-color: var(--swatch--dynamic--black);
  }
}
